<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>com.mycompany.workflowapi_goldenteam.TestServlet</servlet-class>
    </servlet> 
    
    <servlet>
        <servlet-name>GetUsers</servlet-name>
        <servlet-class>com.mycompany.workflowapi_goldenteam.GetUsers</servlet-class>
    </servlet> 
    
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>com.mycompany.workflowapi_goldenteam.CreateNewUser</servlet-class>
    </servlet> 
    <servlet>
        <servlet-name>UpsertWorkflow</servlet-name>
        <servlet-class>com.mycompany.workflowapi_goldenteam.UpsertWorkflow</servlet-class>
    </servlet>
             
    <servlet-mapping>
        <servlet-name>GetUsers</servlet-name>
        <url-pattern>/GetUsers</url-pattern>        
    </servlet-mapping>
    
     <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>        
    </servlet-mapping>
    
     <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>        
    </servlet-mapping>
    
    
    <display-name>WorkflowAPI_GoldenTeam</display-name>
    <servlet-mapping>
        <servlet-name>UpsertWorkflow</servlet-name>
        <url-pattern>/UpsertWorkflow</url-pattern>
    </servlet-mapping>
</web-app>
